pantheon
autopep8
aiofiles
compress-json
fastapi
ipykernel
ipywidgets
jinja2
jupyterlab
matplotlib
numpy
notebook
pandas
pydantic
python-multipart
requests
riotwatcher
seaborn
scikit-learn
scikit-optimize
uvicorn
xgboost