:root {
  --min-screen-height: 1000px;
}

.App {
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-areas:
    "nav nav nav nav"
    "sidebar leftmenu content rightmenu";
}

.navigation {
  grid-area: nav;
}


@media screen and (orientation: portrait) and (max-width: 768px) {
  .form-buttons {
    grid-template-columns: 1fr;
  }

  .form-btn-left {
    grid-column: 1;
  }

  .form-btn-right {
    grid-column: 1;
    margin-left: 0.5em;
    padding-top: 0.5em;
  }

  .App {
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav"
      "content";
  }

  .modal-menu {
    min-width: 60px;
    left: 0.5em;
    right: 0.5em;
    top: 3.5em;
    transform: translate(0%);
  }
}